
<button id="formDropdownButton{{'2'if buttonText =="Gender"}}" data-dropdown-toggle="dropdownUsers" data-dropdown-placement="bottom" class="w-full text-right place-content-between text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
    {% if info[0] == '' %}
      {{"Select " + buttonText}}
    {% else %}
      {% if buttonText == "Course" %}
        {{info[3]}}
      {% else %}
        {{info[2]}}
      {% endif %}
    {% endif %}
    <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
    </svg>
</button>

<!-- Dropdown menu -->
<div id="formDropdownBox{{'2'if buttonText =="Gender"}}" class="absolute w-[24%] z-40 hidden bg-white rounded-lg shadow  dark:bg-gray-700">
  <ul id="formDropdownBox-choices" class="z-40 max-h-48 py-2 overflow-y-auto text-gray-700 dark:text-gray-200" aria-labelledby="dropdownUsersButton">
    {%set contentToCopy = []%}
    {%if buttonText =="Gender"%}
      {%set contentToCopy = ["Male", "Female", "Others"]%}
    {% else %}
      {%set contentToCopy = content%}
    {% endif %}
    {% for row in contentToCopy %}
    <li>
      <button type="button" class="w-full flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
        {{row}}
      </button>
    </li>
    {%endfor%}
  </ul>
</div>
