<!--
  fixed right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full justify-center items-center flex
  fixed right-0 z-50 w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full justify-center items-center hidden
-->
<div
  id="filter-popup"
  data-modal-backdrop="static"
  tabindex="-1"
  aria-hidden="true"
  class="fixed left-[50%] z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full"
>
  <div class="relative w-full max-w-2xl max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600"
      >
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Filter
        </h3>
        <button
          type="button"
          class="remove-custom-backdrop text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="filter-popup"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-6 space-y-6">
        <p class="text-base leading-relaxed text-white dark:text-gray-400">
        <!--        dropdown.html basically but with different id                -->
        <div id="dropdown-to-replace" class="w-full h-full">
          <button id="popupDropdownButton" data-dropdown-toggle="popupDropdownBox" data-dropdown-placement="bottom" class="w-full text-right place-content-between text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-3.5 py-2.5 inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
              {% if content is not defined or content == '' %}
                {% set content = ['', '', '', '', '', ''] %}
              {% endif %}
              {{content[0]}}
              <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
          </button>

          <!-- Dropdown menu -->
          <div id="popupDropdownBox" class="absolute w-[24%] z-40 hidden bg-white rounded-lg shadow  dark:bg-gray-700">
            <ul id="popupDropdownBox-choices" class="z-40 max-h-48 py-2 overflow-y-auto text-gray-700 dark:text-gray-200" aria-labelledby="popupDropdownBox-choices">
              {% for row in content %}
              <li>
                <button type="button" class="w-full flex items-center px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">
                  {{row}}
                </button>
              </li>
              {%endfor%}
            </ul>
          </div>
        </div>
        <!--          END                -->
        </p>
      </div>
      <!-- Modal footer -->
      <div
        class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600"
      >
        <button
          id="proceed-to-filter"
          data-modal-hide="filter-popup"
          type="button"
          class="remove-custom-backdrop text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Proceed
        </button>
      </div>
    </div>
  </div>
</div>
