{% block navbar %}
<nav class="w-full h-full border-b-0 bg-dark flex flex-col p-0">
  <div
    class="flex-auto text-9xl flex text-white font-weight-bold items-end m-auto"
  >
    <div>SSIS</div>
    <a
      class="h-fit font-weight-normal text-base text-[#FAB15D]"
      href="https://github.com/SuchWowEl/ssis-flask"
      >by Elizer</a
    >
  </div>
  <div class="flex-auto mb-0 mt-2 border-y-2 border-zinc-800">
    <ul class="flex-row flex text-center justify-evenly pt-2">
      <li class="border-transparent border-b-2 mx-2">
        <button
          id="students"
          class="text-white btn-tabs border-transparent border-b-2"
        >
          Students
        </button>
      </li>
      <li class="border-transparent border-b-2 mx-2">
        <button
          id="courses"
          class="nav-link text-white btn-tabs border-transparent border-b-2"
        >
          Courses
        </button>
      </li>
      <li class="border-transparent border-b-2 mx-2">
        <button
          id="colleges"
          class="nav-link text-white btn-tabs border-transparent border-b-2"
        >
          Colleges
        </button>
      </li>
    </ul>
  </div>
</nav>

<script>
  //$(document).ready();
  tableUrl = "";
  let selectedStudent = [];

  // Function to toggle the visibility of dropdown-blocks
  function toggleDropdown() {
    var dropdownBlocks = document.getElementById("dropdown-blocks");
    if (dropdownBlocks.classList.contains("hidden")) {
      dropdownBlocks.classList.remove("hidden");
      dropdownBlocks.classList.add("block");
    } else {
      dropdownBlocks.classList.remove("block");
      dropdownBlocks.classList.add("hidden");
    }
  }

  // Function to handle clicks on the document
  function documentClickHandler(event) {
    var dropdownBlocks = document.getElementById("dropdown-blocks");
    var dropdownButton = document.getElementById("dropdown-button");

    if (
      event.target.id !== "dropdown-blocks" &&
      event.target.id !== "dropdown-button"
    ) {
      dropdownBlocks.classList.remove("block");
      dropdownBlocks.classList.add("hidden");
    }
  }

  // Function to handle clicks on dropdown-blocks
  function dropdownBlocksClickHandler(event) {
    if (event.target.tagName === "BUTTON") {
      var dropdownButton = document.getElementById("dropdown-button");
      var textNode = Array.from(dropdownButton.childNodes).find(function (
        node
      ) {
        return node.nodeType === 3; // Filter text nodes
      });
      textNode.replaceWith(event.target.textContent);
    }
  }

  // Function to handle the click event on .btn-tabs elements
  function handleTabClick(event) {
    console.log("asdad");
    ["students", "courses", "colleges"].forEach(function (element) {
      document.getElementById(element).classList.remove("border-lime-400");
      document.getElementById(element).classList.add("border-transparent");
    });
    document.getElementById(event.target.id).classList.add("border-lime-400");
    document
      .getElementById(event.target.id)
      .classList.remove("border-transparent");

    console.log(tableUrl);
    tableUrl = "/" + event.target.id + "/";
    var content = document.getElementById("content");

    // Perform an AJAX load operation (you may need to use another approach like fetch or XMLHttpRequest)
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
      content.innerHTML = this.responseText;
      tablePick(); // Call the tablePick function after the content is loaded
    };
    xhr.open("GET", tableUrl, true);
    xhr.send();
  }

  function toggleRow(event) {
    console.log(event);
    id = event.target
      .closest("tr")
      .querySelectorAll("td")[1]
      .textContent.trim();
    console.log(id);
    console.log(selectedStudent);
    if (selectedStudent.includes(id)) {
      console.log("selecting...");
      for (index in [0, 1, 2, 3, 4, 5, 6, 7]) {
        id = event.target.closest("tr").querySelectorAll("td")[index];
        id.classList.add("bg-gray-300", "text-slate-600");
        id.classList.remove("bg-gray-200", "bg-gray-100");
      }
    } else {
      console.log("unselecting...");
      for (index in [0, 1, 2, 3, 4, 5, 6, 7]) {
        id = event.target.closest("tr").querySelectorAll("td")[index];
        id.classList.remove("bg-gray-300", "text-slate-600");
        id.classList.add(index % 2 ? "bg-gray-100" : "bg-gray-200");
      }
    }
  }

  function toggleAllRow() {
    const table = document.getElementById("table-form"); // Get the table by its ID
    const rows = table.getElementsByTagName("tr");
    if (selectedStudent.length > 0) {
      console.log("selecting...");
      for (let i = 0; i < rows.length; i++) {
        const cells = rows[i].getElementsByTagName("td");

        for (let j = 0; j < cells.length; j++) {
          console.log(`Row ${i + 1}, Cell ${j + 1}: ${cells[j].textContent}`);
          cells[j].classList.add("bg-gray-300", "text-slate-600");
          cells[j].classList.remove(j % 2 ? "bg-gray-100" : "bg-gray-200");
        }
      }
    } else {
      console.log("unselecting...");
      for (let i = 0; i < rows.length; i++) {
        const cells = rows[i].getElementsByTagName("td");

        for (let j = 0; j < cells.length; j++) {
          console.log(`Row ${i + 1}, Cell ${j + 1}: ${cells[j].textContent}`);
          cells[j].classList.remove("bg-gray-300", "text-slate-600");
          cells[j].classList.add(j % 2 ? "bg-gray-100" : "bg-gray-200");
        }
      }
    }
  }

  function allCheckbox(event) {
    ifAllChecked = event.target.checked ? true : false;
    document.querySelectorAll(".row-checkbox").forEach(function (tab) {
      console.log(tab);
      tab.checked = ifAllChecked;
      if (
        ifAllChecked &&
        selectedStudent.indexOf(
          tab.closest("tr").querySelectorAll("td")[1].textContent.trim()
        )
      ) {
        selectedStudent.push(
          tab.closest("tr").querySelectorAll("td")[1].textContent.trim()
        );
      }
    });
    if (!ifAllChecked) selectedStudent = [];
    toggleAllRow();
    toggleDelete();
  }

  function toggleCheckBox(event) {
    const id = event.target
      .closest("tr")
      .querySelectorAll("td")[1]
      .textContent.trim();
    const index = selectedStudent.indexOf(id);
    if (index === -1) {
      selectedStudent.push(id);
    } else {
      selectedStudent.splice(index, 1);
    }
    toggleDelete();
    toggleRow(event);
  }

  function toggleDelete() {
    console.log("toggleDelete");
    const item = document.getElementById("delete_button");
    if (selectedStudent.length > 0) {
      item.disabled = false;
      item.classList.add(
        "bg-red-700",
        "border-red-700",
        "hover:bg-red-800",
        "focus:ring-4",
        "focus:outline-none",
        "focus:ring-red-300",
        "text-white"
      );
      item.classList.remove(
        "text-gray-200",
        "cursor-not-allowed",
        "bg-red-300",
        "border-red-300"
      );
    } else {
      item.disabled = true;
      item.classList.remove(
        "bg-red-700",
        "border-red-700",
        "hover:bg-red-800",
        "focus:ring-4",
        "focus:outline-none",
        "focus:ring-red-300",
        "text-white"
      );
      item.classList.add(
        "text-gray-200",
        "cursor-not-allowed",
        "bg-red-300",
        "border-red-300"
      );
    }
    //bg-red-700 border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300
    //bg-red-400 border-red-400
  }

  function tablePick() {
    console.log("tablePick function executed");

    // Add event listeners for the dropdown functionality
    document
      .getElementById("dropdown-button")
      .addEventListener("click", toggleDropdown);

    document.addEventListener("click", documentClickHandler);

    document
      .getElementById("header-checkbox")
      .addEventListener("click", allCheckbox);

    const checkboxes = document.getElementsByClassName("row-checkbox");

    for (let i = 0; i < checkboxes.length; i++) {
      checkboxes[i].addEventListener("click", toggleCheckBox);
    }

    document
      .getElementById("dropdown-blocks")
      .addEventListener("click", dropdownBlocksClickHandler);

    document.getElementById("add_entry").addEventListener("click", function () {
      var addUrl = tableUrl + "/add/";
      var content = document.getElementById("content");

      // Perform an AJAX load operation (you may need to use another approach like fetch or XMLHttpRequest)
      var xhr = new XMLHttpRequest();
      xhr.onload = function () {
        content.innerHTML = this.responseText;
        addEntry("add");
      };
      xhr.open("GET", addUrl, true);
      xhr.send();
    });

    // Perform an AJAX load operation (you may need to use another approach like fetch or XMLHttpRequest)
    /*var xhr = new XMLHttpRequest();
      xhr.onload = function () {
        content.innerHTML = this.responseText;
        addEntry();
      };
      xhr.open("GET", addUrl, true);
      xhr.send();*/

    document.querySelector("table").addEventListener("click", function (event) {
      if (event.target.classList.contains("edit-btn")) {
        var editUrl = tableUrl + "edit/";
        var content = document.getElementById("content");

        const leftmostData = event.target
          .closest("tr")
          .querySelectorAll("td")[1]
          .textContent.trim();
        console.log("leftmostData:");
        console.log(leftmostData);

        var csrf_token = "{{ csrf_token() }}";
        var formData = {
          id: leftmostData,
        };
        console.log("formData is " + JSON.stringify(formData, null, 2));
        const request = new XMLHttpRequest();
        request.open("POST", editUrl);
        request.onload = function () {
          document.getElementById("content").innerHTML = this.responseText;
          addEntry("edit");
        };
        request.setRequestHeader("Content-type", "application/json");
        const csrfToken = document
          .querySelector("meta[name=csrf-token]")
          .getAttribute("content");
        request.setRequestHeader("X-CSRFToken", csrfToken);
        request.send(JSON.stringify(formData));
        event.preventDefault();
      }
    });
  }

  function addEntry(type) {
    url = type == "add" ? "/students/addstudent/" : "/students/editstudent/";
    console.log("addEntry function executed");

    const input = document.getElementById("id");

    input.addEventListener("input", function (event) {
      const inputValue = event.target.value;

      // Remove any non-numeric characters and limit the length to 4
      const cleanedValue = inputValue.replace(/[^\d-]/g, "");

      event.target.value = cleanedValue;

      if (cleanedValue[cleanedValue.length - 1] == "-")
        event.target.value = cleanedValue.substring(0, cleanedValue.length - 1);
      else if (
        cleanedValue.length === 4 ||
        (cleanedValue.length == 5 &&
          cleanedValue[cleanedValue.length - 1] != "-")
      )
        event.target.value = cleanedValue + "-";
    });

    document
      .getElementById("student-form")
      .addEventListener("submit", function (event) {
        console.log("POST");
        var csrf_token = "{{ csrf_token() }}";

        var formData = {
          id: $("#id").val(),
          firstname: $("#firstname").val(),
          lastname: $("#lastname").val(),
          course: $("#course").val(),
          year: $("#year").val(),
          gender: $("#gender").val(),
        };
        console.log("formData is " + JSON.stringify(formData, null, 2));
        const request = new XMLHttpRequest();
        request.open("POST", url);
        request.onload = () => {
          console.log("POST SUCCESSFUL");
          const element = document.getElementById("students");

          // Check if the element exists (not null)
          if (element) {
            // Programmatically trigger a click event
            element.click();
          }
        };
        request.setRequestHeader("Content-type", "application/json");
        const csrfToken = document
          .querySelector("meta[name=csrf-token]")
          .getAttribute("content");
        request.setRequestHeader("X-CSRFToken", csrfToken);
        request.send(JSON.stringify(formData));
        event.preventDefault();
      });
  }

  // Add event listeners to .btn-tabs elements
  document.querySelectorAll(".btn-tabs").forEach(function (tab) {
    tab.addEventListener("click", handleTabClick);
  });
</script>
{% endblock navbar %}
