{% block navbar %}
<nav class="w-full h-full border-b-0 bg-dark flex flex-col p-0">
  <div
    class="flex-auto text-9xl flex text-white font-weight-bold items-end m-auto"
  >
    <div>SSIS</div>
    <a
      class="h-fit font-weight-normal text-base text-[#FAB15D]"
      href="https://github.com/SuchWowEl/ssis-flask"
      >by Elizer</a
    >
  </div>
  <div class="flex-auto mb-0 mt-2 border-y-2 border-zinc-800">
    <ul class="flex-row flex text-center justify-evenly pt-2">
      <li class="border-transparent border-b-2 mx-2">
        <button
          id="students"
          class="text-white btn-tabs border-transparent border-b-2"
        >
          Students
        </button>
      </li>
      <li class="border-transparent border-b-2 mx-2">
        <button
          id="courses"
          class="nav-link text-white btn-tabs border-transparent border-b-2"
        >
          Courses
        </button>
      </li>
      <li class="border-transparent border-b-2 mx-2">
        <button
          id="colleges"
          class="nav-link text-white btn-tabs border-transparent border-b-2"
        >
          Colleges
        </button>
      </li>
    </ul>
  </div>
</nav>

<script>
  //$(document).ready();
  tableUrl = "";

  // Function to toggle the visibility of dropdown-blocks
  function toggleDropdown() {
    var dropdownBlocks = document.getElementById("dropdown-blocks");
    if (dropdownBlocks.classList.contains("hidden")) {
      dropdownBlocks.classList.remove("hidden");
      dropdownBlocks.classList.add("block");
    } else {
      dropdownBlocks.classList.remove("block");
      dropdownBlocks.classList.add("hidden");
    }
  }

  // Function to handle clicks on the document
  function documentClickHandler(event) {
    var dropdownBlocks = document.getElementById("dropdown-blocks");
    var dropdownButton = document.getElementById("dropdown-button");

    if (
      event.target.id !== "dropdown-blocks" &&
      event.target.id !== "dropdown-button"
    ) {
      dropdownBlocks.classList.remove("block");
      dropdownBlocks.classList.add("hidden");
    }
  }

  // Function to handle clicks on dropdown-blocks
  function dropdownBlocksClickHandler(event) {
    if (event.target.tagName === "BUTTON") {
      var dropdownButton = document.getElementById("dropdown-button");
      var textNode = Array.from(dropdownButton.childNodes).find(function (
        node
      ) {
        return node.nodeType === 3; // Filter text nodes
      });
      textNode.replaceWith(event.target.textContent);
    }
  }

  // Function to handle the click event on .btn-tabs elements
  function handleTabClick(event) {
    console.log("asdad");
    ["students", "courses", "colleges"].forEach(function (element) {
      document.getElementById(element).classList.remove("border-lime-400");
      document.getElementById(element).classList.add("border-transparent");
    });
    document.getElementById(event.target.id).classList.add("border-lime-400");
    document
      .getElementById(event.target.id)
      .classList.remove("border-transparent");

    console.log(tableUrl);
    tableUrl = "/" + event.target.id + "/";
    var content = document.getElementById("content");

    // Perform an AJAX load operation (you may need to use another approach like fetch or XMLHttpRequest)
    var xhr = new XMLHttpRequest();
    xhr.onload = function () {
      content.innerHTML = this.responseText;
      tablePick(); // Call the tablePick function after the content is loaded
    };
    xhr.open("GET", tableUrl, true);
    xhr.send();
  }

  function tablePick() {
    console.log("tablePick function executed");

    // Add event listeners for the dropdown functionality
    document
      .getElementById("dropdown-button")
      .addEventListener("click", toggleDropdown);

    document.addEventListener("click", documentClickHandler);

    document
      .getElementById("dropdown-blocks")
      .addEventListener("click", dropdownBlocksClickHandler);

    document.getElementById("add_entry").addEventListener("click", function () {
      var addUrl = tableUrl + "/add/";
      var content = document.getElementById("content");

      // Perform an AJAX load operation (you may need to use another approach like fetch or XMLHttpRequest)
      var xhr = new XMLHttpRequest();
      xhr.onload = function () {
        content.innerHTML = this.responseText;
        addEntry("add");
      };
      xhr.open("GET", addUrl, true);
      xhr.send();
    });

    // Perform an AJAX load operation (you may need to use another approach like fetch or XMLHttpRequest)
    /*var xhr = new XMLHttpRequest();
      xhr.onload = function () {
        content.innerHTML = this.responseText;
        addEntry();
      };
      xhr.open("GET", addUrl, true);
      xhr.send();*/

    document.querySelector("table").addEventListener("click", function (event) {
      if (event.target.classList.contains("edit-btn")) {
        var editUrl = tableUrl + "edit/";
        var content = document.getElementById("content");

        const leftmostData = event.target
          .closest("tr")
          .querySelector("td")
          .textContent.trim();
        console.log("leftmostData:");
        console.log(leftmostData);

        var csrf_token = "{{ csrf_token() }}";
        var formData = {
          id: leftmostData,
        };
        console.log("formData is " + JSON.stringify(formData, null, 2));
        const request = new XMLHttpRequest();
        request.open("POST", editUrl);
        request.onload = function () {
          document.getElementById("content").innerHTML = this.responseText;
          addEntry("edit");
        };
        request.setRequestHeader("Content-type", "application/json");
        const csrfToken = document
          .querySelector("meta[name=csrf-token]")
          .getAttribute("content");
        request.setRequestHeader("X-CSRFToken", csrfToken);
        request.send(JSON.stringify(formData));
        event.preventDefault();
      }
    });
  }

  function addEntry(type) {
    url = type == "add" ? "/students/addstudent/" : "/students/editstudent/";
    console.log("addEntry function executed");

    const input = document.getElementById("id");

    input.addEventListener("input", function (event) {
      const inputValue = event.target.value;

      // Remove any non-numeric characters and limit the length to 4
      const cleanedValue = inputValue.replace(/[^\d-]/g, "");

      event.target.value = cleanedValue;

      if (cleanedValue[cleanedValue.length - 1] == "-")
        event.target.value = cleanedValue.substring(0, cleanedValue.length - 1);
      else if (
        cleanedValue.length === 4 ||
        (cleanedValue.length == 5 &&
          cleanedValue[cleanedValue.length - 1] != "-")
      )
        event.target.value = cleanedValue + "-";
    });

    document
      .getElementById("student-form")
      .addEventListener("submit", function (event) {
        console.log("POST");
        var csrf_token = "{{ csrf_token() }}";

        var formData = {
          id: $("#id").val(),
          firstname: $("#firstname").val(),
          lastname: $("#lastname").val(),
          course: $("#course").val(),
          year: $("#year").val(),
          gender: $("#gender").val(),
        };
        console.log("formData is " + JSON.stringify(formData, null, 2));
        const request = new XMLHttpRequest();
        request.open("POST", url);
        request.onload = () => {
          console.log("POST SUCCESSFUL");
          const element = document.getElementById("students");

          // Check if the element exists (not null)
          if (element) {
            // Programmatically trigger a click event
            element.click();
          }
        };
        request.setRequestHeader("Content-type", "application/json");
        const csrfToken = document
          .querySelector("meta[name=csrf-token]")
          .getAttribute("content");
        request.setRequestHeader("X-CSRFToken", csrfToken);
        request.send(JSON.stringify(formData));
        event.preventDefault();
      });
  }

  // Add event listeners to .btn-tabs elements
  document.querySelectorAll(".btn-tabs").forEach(function (tab) {
    tab.addEventListener("click", handleTabClick);
  });
</script>
{% endblock navbar %}
