{% block navbar %}
<nav class="w-full h-full border-b-0 bg-dark flex flex-col p-0">
  <div
    class="flex-auto text-9xl flex text-white font-weight-bold items-end m-auto"
  >
    <div>SSIS</div>
    <a
      class="h-fit font-weight-normal text-base text-[#FAB15D]"
      href="https://github.com/SuchWowEl/ssis-flask"
      >by Elizer</a
    >
  </div>
  <div class="flex-auto mb-0 mt-2 border-y-2 border-zinc-800">
    <ul class="flex-row flex text-center justify-evenly pt-2">
      <li class="border-transparent border-b-2 mx-2">
        <button
          id="students"
          class="text-white btn-tabs border-transparent border-b-2"
        >
          Students
        </button>
      </li>
      <li class="border-transparent border-b-2 mx-2">
        <button
          id="courses"
          class="nav-link text-white btn-tabs border-transparent border-b-2"
        >
          Courses
        </button>
      </li>
      <li class="border-transparent border-b-2 mx-2">
        <button
          id="colleges"
          class="nav-link text-white btn-tabs border-transparent border-b-2"
        >
          Colleges
        </button>
      </li>
    </ul>
  </div>
</nav>

<script>
  //$(document).ready();

  $(".btn-tabs").click(function () {
    console.log("asdad");
    ["students", "courses", "colleges"].forEach(function (element) {
      $("#" + element)
        .removeClass("border-lime-400")
        .addClass("border-transparent");
    });
    $("#" + event.target.id)
      .addClass("border-lime-400")
      .removeClass("border-transparent");
    tab = "/" + event.target.id + "/";
    $("#content").load(tab, function (response, status, xhr) {
      if (status == "success") {
        $(document).on("click", function (event) {
          if (
            !["dropdown-blocks", "dropdown-button"].includes(event.target.id)
          ) {
            $("#dropdown-blocks").addClass("hidden");
            $("#dropdown-blocks").removeClass("block");
          }
        });
        $("#dropdown-blocks").on("click", function (event) {
          console.log(event.target.innerHtml);
          $("#dropdown-button")
            .contents()
            .filter(function () {
              return this.nodeType === 3; // Filter text nodes
            })
            .first()
            .replaceWith($(event.target).text());
          //event.stopPropagation();
        });
        $("#dropdown-button").click(function () {
          console.log("dropdown pressed");
          if ($("#dropdown-blocks").hasClass("hidden")) {
            $("#dropdown-blocks").addClass("block");
            $("#dropdown-blocks").removeClass("hidden");
          } else {
            $("#dropdown-blocks").addClass("hidden");
            $("#dropdown-blocks").removeClass("block");
          }
        });
      }
    });
    /*$.ajax({
        type: "GET",
        url: tab,
        success: function (response) {
          $("#content").html("<div> " + response.table + "</div>");
        },
      });*/
  });
</script>
{% endblock navbar %}
